body {
    --border-color: hsl(0, 0%, 22%);
}

#root {
    width: 100vw;
    height: 100vh;
}

.resizeHandle {
    width: 4px;

    &[data-resize-handle-state="hover"],
    &[data-resize-handle-state="drag"] {
        background-color: var(--mantine-primary-color-filled);
    }
}

.react-transform-wrapper {
    width: 100% !important;
    height: 100% !important;
}