.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);

    .title {
        margin: 5px 5px 0 5px;
    }
}

.userInfo {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 3px;
    align-items: center;
    margin-right: 5px;

    img {
        border-radius: calc(35px / 2);
    }

    .details {
        display: flex;
        flex-direction: column;
        align-items: start;

        .name {
            margin-bottom: -5px;
        }

        .email {
            font-size: 8pt;
        }
    }
}
