.wrapper {
    width: 100%;
    height: 100%;
    border-left: 1px solid var(--border-color);
    position: relative;

    .canvas {
        border: 1px solid var(--border-color);
    }
}

.miniMap {
    border: 1px solid var(--border-color);
    position: absolute;
    z-index: 1000;
    top: 5px;
    right: 5px;
}

.controls {
    position: absolute;
    z-index: 1000;
    left: 5px;
    top: 5px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}