.tabs {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.tabPanel {
    height: 100%;
}

.tabFilename {
    display: flex;
    flex-direction: row;

    .unsavedIndicator {
        width: 8px;
    }
}
