.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    border-bottom: 1px solid var(--border-color);

    .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        justify-self: start;
        margin: 5px 5px 0 5px;

        a {
            color: var(--mantine-color-text);
        }
    }

    .projectName {
        grid-column: 2;
        justify-self: center;
        display: flex;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        min-width: 0;
    }

    .userInfo {
        justify-self: end;
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding: 3px;
        align-items: center;
        margin-right: 5px;

        img {
            border-radius: calc(35px / 2);
        }

        .details {
            display: flex;
            flex-direction: column;
            align-items: start;

            .name {
                margin-bottom: -5px;
            }

            .email {
                font-size: 8pt;
            }
        }
    }
}
