.wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px 5px 0 5px;
    gap: 8px;
    border-right: 1px solid var(--border-color);

    button {
        color: var(--mantine-color-dimmed);

        &:hover {
            color: var(--mantine-color-text);
        }
    }
}
