.group {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .item {
        display: flex;
        flex-direction: row;
        gap: 10px;
        width: 100%;

        :global(.mantine-Radio-root) {
            margin-top: 3px;
        }
    }
}

.existingProjects {
    gap: 5px;
    width: 100%;

    :global(.mantine-Paper-root) {
        padding: 2px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        cursor: pointer;

        &:hover {
            background-color: var(--mantine-primary-color-filled);

            .projectActions {
                display: flex;
            }
        }

        .projectName {
        }

        .projectActions {
            display: none;
            margin-right: 5px;
        }
    }
}

.footer {
    width: 100%;
}
